/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

/* Global  */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Playfair Display', serif;
}
a
{
    text-decoration: none;
    cursor: pointer;
}
li
{
    list-style: none;
}

/* Global Custom Variable */

:root
{
    --white-color:#fff;
    --black-color:#000;
    --main-color:#ffd700;
}

/* Banner Page */

.banner
{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image:  url(./Images/lamboghini.jpg);
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ;
}

/* Navigation Bar */
.nav
{
    width:90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background:rgba(0 0 0 / 0.7);
    height:10rem; 
    clip-path: polygon(0 0, 5% 50%, 50% 100%, 95% 50%,100% 0);
    padding: 1rem 4rem;
}
.nav .logo h1
{
    font-size: 3rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color:var(--white-color);
}
.nav ul
{
    display: flex;

}
.nav ul li
{
    margin: 0  2rem 3rem;
}
.nav ul li a
{
    font-size: 1.6rem;
    color: #fff;
    position: relative;
}
.nav ul li a::before
{
    content: "";
    position: absolute;
    width: 0;
    height: 0.2rem;
    background: var(--main-color);
    left: 0;
    top: -0.5rem;
    transition: all 0.5s linear;
}
.nav ul li a:hover::before,
.nav ul li a.active::before
{
    width: 100%;
}
.nav ul li a:hover,
.nav ul li a.active
{
    color:var(--main-color);
}
.menu
{
    display: none;
}

/* Main Content */

.content
{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:10rem;
    height: 50rem;
    width:45%;
    padding:3%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s;
}
.content h2
{
    font-size: 4rem;
    color:var(--main-color);
    margin-bottom: 1.2rem;
    text-transform: capitalize;
    position: relative;
}
.content h2::after
{
    content: "";
    position: absolute;
    left:0.4rem;
    bottom: -0.5rem;
    height: 0.5rem;
    width:50%;
    background: var(--main-color);
}
.content p
{
    font-size: 2.5rem;
    color:var(--white-color);
    line-height: 1.2;
}


/* Button */

.btn
{
    outline: none;
    border: 0.2rem solid var(--main-color);
    font-size: 1.6rem;
    margin-top: 1.7rem;
    color:var(--white-color);
    background: transparent;
    padding: 1.5rem;
    border-radius: 2.5rem;
    font-weight: 800;
    cursor: pointer;
}
.btn span.fa
{
    font-size: 1.6rem;
    line-height: 1;
}
.btn:hover
{
    background: var(--main-color);
    color:var(--black-color)
}

/* Social Media Icons */

.social-media
{
    position: absolute;
    right:0;
    top:0;
    width:5rem;
    height: 100%;
    border-left: 0.2rem solid rgba(255 255 255/ 0.3);
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    z-index: 2;
}
.social-media ul li
{
    width:3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.1rem solid var(--main-color);
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-media ul li:hover
{
    background: var(--main-color);
}
.social-media ul li:hover a i.fab
{
    color:var(--black-color)
}
.social-media ul li a i.fab
{
    font-size:1.5rem;
    color:var(--main-color);
}

/* Footer */

.footer
{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width:50vw;
    margin: auto;
    background: rgba(255 255 255/ 0.3);
    height:5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    overflow: hidden;
}
.footer .copyright p,
.footer .copyright p span
{
    font-size: 1.6rem;
    font-weight: 600;
}
.footer .logos
{
    flex-basis: 60%;
    height: 100%;
    padding: 1rem;
}
.footer .logos ul
{
    display: flex;
    align-items: center;
    justify-content:flex-start;

}
.footer .logos ul li
{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.6rem;
}
.footer .logos ul li img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
